<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-color:transparent;font-family:'Inter',sans-serif;background-color:#EFF0F4;">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>

            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-color:transparent;">
                <tr border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent;"><td style="height:100px;"></td></tr>
                {{#if HasFooterTop}}
                    <tr border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent;">
                        <td align="center" style="text-align: center;">
                            {{#if FooterTopPreLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterTopPreLinkText}}</span>
                            {{/if}}
                            {{#if FooterTopLinkUrl}}
                                <a href="{{FooterTopLinkUrl}}" style="text-decoration:underline;text-decoration-color:#2C2C2C;">
                            {{/if}}
                            {{#if FooterTopLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterTopLinkText}}</span>
                            {{/if}}
                            {{#if FooterTopLinkUrl}}
                                </a>
                            {{/if}}
                            {{#if FooterTopPosLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterTopPosLinkText}}</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
                {{#if HasFooterMiddle}}
                    <tr border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent;">
                        <td align="center" style="text-align: center;">
                            {{#if FooterMiddlePreLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterMiddlePreLinkText}}</span>
                            {{/if}}
                            {{#if FooterMiddleLinkUrl}}
                                <a href="{{FooterMiddleLinkUrl}}" style="text-decoration:underline;text-decoration-color:#2C2C2C;">
                            {{/if}}
                            {{#if FooterMiddleLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterMiddleLinkText}}</span>
                            {{/if}}
                            {{#if FooterMiddleLinkUrl}}
                                </a>
                            {{/if}}
                            {{#if FooterMiddlePosLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterMiddlePosLinkText}}</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
                {{#if HasFooterBottom}}
                    <tr border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent;">
                        <td align="center" style="text-align: center;">
                            {{#if FooterBottomPreLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterBottomPreLinkText}}</span>
                            {{/if}}
                            {{#if FooterBottomLinkUrl}}
                                <a href="{{FooterBottomLinkUrl}}" style="text-decoration:underline;text-decoration-color:#2C2C2C;">
                            {{/if}}
                            {{#if FooterBottomLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterBottomLinkText}}</span>
                            {{/if}}
                            {{#if FooterBottomLinkUrl}}
                                </a>
                            {{/if}}
                            {{#if FooterBottomPosLinkText}}
                                <span style="font-family:'Inter',sans-serif;color:#2C2C2C;font-size:14px;">{{FooterBottomPosLinkText}}</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
                <tr border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent;"><td style="height:100px;"></td></tr>
            </table>

        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>



